[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "binpackr"]
	path = binpackr
	url = https://github.com/lschneiderbauer/binpackr
[submodule "fCWTr"]
	path = fCWTr
	url = https://github.com/lschneiderbauer/fcwtr
[submodule "heumilkr"]
	path = heumilkr
	url = https://github.com/lschneiderbauer/heumilkr
